<!DOCTYPE html>
<html lang="en">
<head>
   <title>navigation page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width device-width, intial-scale 1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container-fluid">
    <h2 class="bg-success">Task Management Application</h2>

<nav>
    <a routerLink="/home"> Home</a>
    <a routerLink="/viewtasks">View Tasks</a>
    <a routerLink="/addtask">Add Task</a>
 </nav>
</div>
</body>

