<!DOCTYPE html>
<html lang="en">
<head>   
   <meta charset="utf-8">
   <meta name="viewport" content="width device-width, intial-scale 1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body>
<div class="container-fluid">

<h4>Search By :</h4>
<b><div class="row">
<div class="col-sm-3"><input type="text" [(ngModel)]="taskNameSearch" 
class="form-control" placeholder="Task Name" /></div>
<div class="col-sm-3"><input type="text" [(ngModel)]="parentSearch" 
class="form-control" placeholder="Parent Task Name" /></div>
<div class="col-sm-3"><input type="text" [(ngModel)]="startDateSearch" 
class="form-control" placeholder="Start Date" /></div>
<div class="col-sm-3"><input type="text" [(ngModel)]="endDateSearch" 
class="form-control" placeholder="End Date" /></div>
</div></b>
<br>
<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>      
      <th>Task ID</th>
      <th>Task Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Priority</th>
      <th>Parent Task</th>
      <th>Status</th>
      <th>Edit</th>
      <th>End</th>
      <th>Delete</th>
  
    </tr>   
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks | taskSearch: taskNameSearch : parentSearch : startDateSearch : endDateSearch">     
     <td>{{task.id}}</td>
     <td>{{task.taskName}}</td>
     <td>{{task.startDate | date:'dd-MM-yyyy'}}</td>
     <td>{{task.endDate | date:'dd-MM-yyyy'}}</td>
     <td>{{task.priority}}</td>
     <td *ngIf="task.parent != null">{{task.parent.parentTask}}</td>
     <td *ngIf="task.parent == null"></td>     
    <td>{{task.status}}</td>    
    <td><a *ngIf="task.status == 'Open'" [routerLink]="['/edittask', task.id]" >
      Edit Task</a>
    </td>
    <td>    
    <a *ngIf="task.status == 'Open'" (click)="endTask(task)"  [routerLink]="['/viewtasks']" >
      End Task</a>
    </td>
    <td>
      <a (click)="deleteTask(task)" [routerLink]="['/viewtasks']" >
        Delete Task
      </a>
    </td>

    </tr>
  </tbody>
</table>

</div>
</body>


